@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */

.btn-primary{
    background-color: #FF900E;
    color: white;
    border: 0px solid white;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 50px;
}
.display{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
    font-size: 1rem;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* header styles */
.navber{
    justify-content: space-between;
    align-items: center;
}
    

.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-left: 30px;
}

.navber, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-image{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
}


/* main section styles */

.teams{
    align-items: center;
    
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.part-1{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.part-2{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
}
.part-3{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
}





/* @media query responsive */
@media screen and (max-width:576px) {
    .navber,
     .nav-links,
     .teams{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns:repeat(1,1fr)
    }
    .our-features{
        margin-left: 50px;
    }
    

}